@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  background-color: #F8B195;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  background-color: #6C5B7B;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 450px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

section input {
  background-color: floralwhite;
  width: 60%;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

section button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: #C06C84;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-list li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-list li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-list li:hover .clear {
  opacity: 1;
}

.fav-list li img {
  border: 2px solid #030000;
  border-radius: 25%;
  object-fit: cover;
  height: 60px;
  width: 60px;
}

.fav-list li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.food-items {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
  margin: 1.5rem;
  overflow: hidden;
}

.item-header {
  position: relative;
}

.item-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.item-container h4 {
  margin: 0;
}

.item-container .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  cursor: pointer;
  font-size: 1.2rem;
}

.fa-solid{
    color: red;
}

.recipe-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.recipe-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.info-container {
  background-color: #355C7D;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 95vh;
  max-width: 600px;
  width: 100%;
  font-weight: bolder;
}

.info-container .close-info {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.recipe-info h1 {
  text-align: center;
}

.fa-search,
.fa-times {
  color: #ffa500;
}


